{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": ["edge >= 15", "safari >= 9", "last 2 versions"]
                }
            }
        ]
    ]
}
